<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
            crossorigin="anonymous">
    <!-- Custom styles -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
    <div class="container"> 
        <h1 class="mx-auto">JPMC/PJSC Pharmacy</h1>
        <p>logo here</p>
        <div class="row">
            <div class="col-sm-8 m-3">
                
                <!-- Patient profile name to dob -->
                <div class="row">
                    <div class="col-sm-6">
                        <p>Name:&nbsp; <%= name %> </p>
                    </div>
                    <div class="col-sm-6">
                        <p>IC Number:&nbsp;<%= icNumber %></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p>Date of Birth:&nbsp;<%= dob %></p>
                    </div>
                </div>
                <!-- ./Patient profile name to dob -->

                <hr>

                <!-- Contact -->
                <div class="row">
                    <div class="col-sm-6">
                        <p>Contact Number:&nbsp;<%= contact_1 %></p>
                    </div>
                    <div class="col-sm-6">
                        <p>Additional Contact Number:&nbsp;<%= contact_2  %></p>
                    </div>
                </div>
                <!-- ./ Contact -->

                <hr>

                <!-- Address -->
                <div class="row">
                    <div class="col-sm-12">
                        <p>Address:</p>
                        <p><%= house_Number %>, Simpang&nbsp;<%= simpang %>, Jalan&nbsp;<%= jalan %>, Kampong&nbsp;<%= kampong %></p>
                    </div>
                </div>
                <!-- ./ Address -->

                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <p>Patient Number: <%= jpmc %></p>
                    </div>
                </div>

                <hr>

                <form method="POST" action="/confirm">
                    <input type="text" class="form-control" name="name" id="name" value="<%= name %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="name" id="icNumber" value="<%= icNumber %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="jpmc" id="jpmc" value="<%= jpmc %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="dob" id="dob" value="<%= dob %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="address_1" id="address_1" value="<%= kampong %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="address_2" id="address_2" value="<%= jalan %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="address_3" id="address_3" value="<%= simpang %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="address_4" id="address_4" value="<%= house_Number %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="contact_1" id="contact_1" value="<%= contact_1 %>" readonly="readonly" hidden>
                    <input type="text" class="form-control" name="contact_2" id="contact_2" value="<%= contact_2  %>" readonly="readonly" hidden>
                    
                    <div class="mb-3">
                        <label for="pharmacy" class="form-label">Please select your pharmacy</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioPharmacy" id="radioJPMC" value="JPMC">
                        <label class="form-check-label" for="radioJPMC">JPMC</label>
                    </div>
                    
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioPharmacy" id="radioPJSC" value="PJSC">
                        <label class="form-check-label" for="radioPJSC">PJSC</label>
                    </div>

                    <div class="mb-3">
                        <label for="qo" class="form-label">Are you under Quarantine Order?</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioQO" id="radioYes" value="Yes">
                        <label class="form-check-label" for="radioYes">Yes</label>
                    </div>
                    
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioQO" id="radioNo" value="No">
                        <label class="form-check-label" for="radioNo">No</label>
                    </div>

                    <div class="mb-3">
                        <label for="qo" class="form-label">Upload your Bruhealth Code</label><br>
                        <input type="file" name="bruhealthCode" id="bruhealthCode" value="Standard">
                    </div>

                    <div class="mb-3">
                        <label for="tod" class="form-label">Please select your delivery method</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTOD" id="radioSTD" value="Standard">
                        <label class="form-check-label" for="radioSTD">Standard</label>
                    </div>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioTOD" id="radioEXP" value="Express">
                        <label class="form-check-label" for="radioEXP">Express</label>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioTOD" id="radioSC" value="Self-Collect">
                        <label class="form-check-label" for="radioSC">Self Collect</label>
                    </div>

                    <div class="mb-3">
                        <label for="scDate" class="form-label">Self-Collection Date</label>
                        <input type="text" class="form-control" name="scDate" id="scDate" placeholder="Will appear when customer choose self collect option">
                    </div>

                    <div class="mb-3">
                        <label for="pm" class="form-label">Payment Method</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioPAY" id="radioCASH" value="Cash">
                        <label class="form-check-label" for="radioCASH">Cash</label>
                    </div>
                    
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioPAY" id="radioBT" value="Bank Transfer">
                        <label class="form-check-label" for="radioBT">Bank Transfer</label>
                    </div>

                    <div class="mb-3">
                        <label for="re" class="form-label">Remark</label>
                        <input type="text" class="form-control" name="re" id="re" placeholder="remark">
                    </div>

                    <div class="mb-3">
                        <label for="pm" class="form-label">Would you like Go Rush to notify you for your next medicine pick-up from the pharmacy?</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioNOTI" id="radioYES_1" value="Yes">
                        <label class="form-check-label" for="radioYES_1">Yes</label>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioNOTI" id="radioNO_1" value="No">
                        <label class="form-check-label" for="radioNO_1">No</label>
                    </div>

                    <div class="mb-3">
                        <label for="pm" class="form-label">Time interval</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioPAY" id="radioYES_1" value="Yes">
                        <label class="form-check-label" for="radioYES_1">Every Two Weeks</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radioPAY" id="radioYES_1" value="Yes">
                        <label class="form-check-label" for="radioYES_1">Every Month</label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="radioPAY" id="radioYES_1" value="Yes">
                        <label class="form-check-label" for="radioYES_1">Every Two Months</label>
                    </div>

                    <input type="hidden" name="formMethod" value="JPMCOrder">
                    <button type="submit" class="btn btn-info mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    var today = new Date();
    var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date+' '+time;
    document.getElementById("dateSubmit").value = dateTime;
</script>
</html>